<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570463479454-19nhrnnh3mohf5jga9nbdshqpo30oeei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570463479454-19nhrnnh3mohf5jga9nbdshqpo30oeei</string>
	<key>API_KEY</key>
	<string>AIzaSyCCKEKIeI1Coj8JtOXDXTRimiI7Vlqkbcw</string>
	<key>GCM_SENDER_ID</key>
	<string>570463479454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.numa08.realworld</string>
	<key>PROJECT_ID</key>
	<string>numa-realworld</string>
	<key>STORAGE_BUCKET</key>
	<string>numa-realworld.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:570463479454:ios:3682f07bebb4869c</string>
	<key>DATABASE_URL</key>
	<string>https://numa-realworld.firebaseio.com</string>
</dict>
</plist>
